<section class="post-container">
  <% if (post.escape('post_type') === "text"){ %>
    <h1><%= post.escape('title') %></h1>
    <p><%= post.escape('body') %></p>
  <% } else if (post.escape('post_type') === "image"){ %>
    <img class="post-image" src="<%= post.escape('image_url') %>">
    <p><%= post.escape('body') %></p>
  <% } else if (post.escape('post_type') === "quote"){ %>
    <h1 class="quote"><%= post.escape('body') %></h1>
    <p class="quote-from"><%= post.escape('title') %></p>
  <% } else if (post.escape('post_type') === "link") { %>
    <a class="link" href="<%= post.escape('link_url') %>" target="_blank">
      <h4><%= post.escape('title') %></h4>
    </a>
    <p><%= post.escape('body') %></p>
  <% } %>
  <ul class="tags">
    <% post.taggings().forEach(function(tag){ %>
    <% var tagLabel = tag.escape('label') %>
      <li><a href="#search?=<%= tagLabel.slice(1) %>"><%= tagLabel %></a></li>
    <% }) %>
  </ul>
</section>
<section class="post-footer group">
  <span class="num_likes"><%= post.escape("num_likes") %> likes</span>
  <ul class="post-response-list group">
    <li><i class="icon-comment"></i></li>
    <% if (currentUser.isNew() || currentUser.escape('id') !== post.author().escape('id')) { %>
      <li><div class="like-status"></div></li>
    <% } else { %>
      <li class="post-setting"><i class="icon-setting"/>
      <ul class="post-edit-options">
        <li class="post-editable edit-post"><i class="icon-edit"/> Edit</li>
        <li class="post-editable delete-post"><i class="icon-delete"/> Delete</li>
      </ul>
      </li>
    <% } %>
  </ul>
</section>
<div class="delete-modal invisible">
  <p>Are you sure to delete the post? :( </p>
  <button class="close">Close</button>
  <button class="delete">Delete</button>
</div>
