<section class="post-container">
  <% if (post.escape('post_type') === "text"){ %>
    <h1><%= post.escape('title') %></h1>
    <p><%= post.escape('body') %></p>
  <% } else if (post.escape('post_type') === "image"){ %>
    <img class="post-image" src="<%= post.escape('image_url') %>">
    <p><%= post.escape('body') %></p>
  <% } else if (post.escape('post_type') === "quote"){ %>
    <h1 class="quote"><%= post.escape('body') %></h1>
    <p class="quote-from"><%= post.escape('title') %></p>
  <% } else if (post.escape('post_type') === "link") { %>
    <a class="link" href="<%= post.escape('link_url') %>" target="_blank">
      <h4><%= post.escape('link_title') %></h4>
    </a>
    <p><%= post.escape('body') %></p>
  <% } %>
</section>
<section class="post-footer group">
  <ul class="post-response-list group">
    <li><i class="icon-comment"></i></li>
    <li><i class="icon-heart"></i></li>
  </ul>
</section>
