<article class="post">
  <img src="<%= user.escape('avatar_url') %>">
  <b><%= user.escape('username') %></b>

  <% if post.escape('post_type') === "text" %>
    <h4><%= post.escape('title') %></h4>
    <p><%= post.escape('body') %></p>
  <% else if post.escape('post_type') === "image" %>
    <img src="<%= post.escape('image_url %>">
    <p><%= post.escape('body') %></p>
  <% else if post.escape('post_type') === "quote" %>
    <h4><i class="fa fa-quote-left"></i> <%= post.escape('body') %> <i class="fa fa-quote-right"></i></h4>
    <p><span>&minus;<span><%= post.escape('title') %></p>
  <% else %>
    <a href="<%= post.escape('link_url') %>"><%= post.escape('title') %></a>
    <p><%= post.escape('body') %></p>
  <% end %>
</article>
