<h1>Account</h1>

<%= show_errors(current_user) %>
<form action="<%= user_url %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="user_email">Email</label>
  <p><%= current_user.email %></p>
  <button><i class="icon-edit"></i></button>
  <input class="hide"
         type="text"
         name="user[email]"
         id="user_email"
         value="<%= current_user.email %>">
  <label for="user_password">Password</label>
  <p>·······</p>
  <button><i class="icon-edit"></i></button>
  <input class="hide"
         type="password"
         name="user[password]"
         id="user_password">
  <label for="user_username">Username</label>
  <p><%= current_user.username %></p>
  <button><i class="icon-edit"></i></button>
  <input class="hide"
         type="text"
         name="user[username]"
         id="user_username"
         value="<%= current_user.username %>">
  <label>Last account activity</label>
  <!-- TBD -->

  <button class="close delete-account">Delete Account</button>
</form>
