<section class="user-auth">
  <a class="redir-sign-up" href="<%= new_user_url %>"><button>Sign Up</button></a>
  <a class="redir-log-in" href="<%= new_session_url %>"><button>Log In</button></a>
  <section class="user-auth-content">
    <h1 class="sign-in-logo">Mumblr<span>.</span></h1>
    <p>Subscribe the blog you like and mumble the things you love!</p>
    <form class="user-auth-form" action="<%= users_url %>" method="post">

      <section class="input">
        <input type="text"
               name="user[email]"
               placeholder="Email"
               value="<%= @user.email %>">
        <input type="password"
               name="user[password]"
               placeholder="Password">
        <input type="text"
               name="user[username]"
               placeholder="Username"
               value="<%= @user.username %>">
      </section>
      <% if show_errors(@user) %>
        <ul class="error-msg-list"><%= show_errors(@user) %></ul>
      <% end %>
      <button class="submit">Sign Up</button>
      <a href="<%= new_session_url %>" class="demo-user">Try Demo User</a>
    </form>
  </section>
</section>
