<img src="<%= current_user.avatar_url %>">
<b><%= current_user.username %></b>
<form action="<%= api_blog_posts_url %>" method="post">
  <input type="hidden" name="post[blog_id]" value="<%= params[:blog_id] %>">
  <input type="hidden" name="post[post_type]" value="<%= post_type %>">

  <% if post_type == "text" %>
    <label for="post_title">Title</label>
    <input type="text"
           id="post_title"
           name="post[title]"
           value="<%= post.title %>">
    <label for="post_body">Body</label>
    <textarea id="post_body"
              name="post[body]"><%= post.body %></textarea>
  <% elsif post_type == "image" %>
    <!-- filepicker here -->
  <% elsif post_type == "link" %>
    <label for="post_link_url">Link</label>
    <input type="text"
           id="post_link_url"
           name="post[link_url]"
           value="<%= post.link_url %>">
    <label for="post_body">Description</label>
    <textarea id="post_body"
              name="post[body]"><%= post.body %></textarea>
  <% elsif post_type == "quote" %>
    <label for="post_title">Quote</label>
    <textarea id="post_body"
              name="post[body]"><%= post.body %></textarea>
    <label for="post_body">From</label>
    <input type="text"
           id="post_title"
           name="post[title]"
           value="<%= post.title %>">
  <% end %>
  <
  <button>Post</button>
</form>
