<b><%= user.escape('username') %></b>
<a href="#blog/<%= blog.escape('id') %>"><%= blog.escape('title') ? blog.escape('title') : "Untitled" %></a>
<ul class="blog-info-list">
  <li><a href="#posts" class="blog-info-link">Posts<span><%= blog.get("num_posts") %></span></a></li>
  <li><a href="#followers" class="blog-info-link">Followers<span><%= blog.get("num_follows") %></span></a></li>
  <li>Recent tags<ul class="recent-tags">
    <% _.result(user, "recentTags").forEach(function(tag){ %>
      <li><a href="#search?=<%= tag.slice(1) %>"><%= tag %></a></li>
    <% }) %>
  </ul></li>
</ul>
