<form class="blog-modal-form">
  <section class="group">
    <label>Title:</label>
    <p class="show-info"><%= blog.escape('title') ? blog.escape('title') : "Untitled" %></p><i class="icon-edit"/>
    <input type="text"
           class="editable hide"
           name="blog[title]"
           value="<%= blog.escape('title') %>">
  </section>
  <section class="group">
    <label>Description: </label>
    <p class="show-info"><%= blog.escape('description') ? blog.escape('description') : "Add some description..." %></p><i class="icon-edit"/>
    <textarea name="blog[description]"
              class="editable hide"><%= blog.escape('description') %></textarea>
  </section>
  <section class="group">
    <label>Background Image: </label>
    <img src="<%= blog.escape('background_url') %>" class="background-preview hide">
    <input type="file" class="upload" name="blog[background]">
  </section>
  <button class="close">Close</button>
</form>

<section class="block-modal"></section>
