<header class="blog-item-header" style="background-image: url(<%= blog.escape('background_url') %>)">
<b class="blog-owner"><%= owner.escape('username') %></b>
  <% if (currentUser.escape('id') !== blog.owner().escape('id')) { %>
    <div class="follow-status"></div>
  <% } %>
</header>
<section class="blog-item-info">
  <a href="#blog/<%= blog.escape('url') %>">
    <img class="blog-item-thumbnail" src="<%= owner.escape('avatar_url') %>">
    <h2><%= blog.escape('title') ? blog.escape('title') : "Untitled" %></h2>
    <p class="blog-desc"><%= blog.escape('description') %></p>
  </a>
  <% if (blog.escape('num_follows')) { %>
    <footer><%= blog.escape('num_follows') %> followers</footer>
  <% } %>
</section>
